<div class="ui-lg-12 body-style">
    <span>
        &nbsp;&nbsp;<i class="fa fa-window-close-o" aria-hidden="true"></i>&nbsp;&nbsp;
        <i class="fa fa-window-minimize" aria-hidden="true"></i>&nbsp;&nbsp;
        <i class="fa fa-window-maximize" aria-hidden="true"></i>&nbsp;&nbsp;
        &nbsp;&nbsp;<button class="btn btn-light btn-style"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
        &nbsp;&nbsp;<button class="btn btn-light btn-style"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        &nbsp;&nbsp;<input type="text" class="search-style" placeholder="            &#xF002; Search" 
                    style="font-family:FontAwesome" />
    </span>
</div>