.app-body{
    position: fixed;
    overflow: hidden;
}
.sidebar-scroll{
    overflow-y:scroll; 
    position:relative;
    height: 720px;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgb(95, 93, 93); 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #332f2f; 
  }
  
  .note-header-style{
    padding: 0px;
  }